body {
  background-color: #1b2021;
  color: #eac8af;
  width: 70%;
  margin: 5vh auto;
  }

.card {
  
  margin: 2vh auto;
  background-color: #eac8af;
  color: #1b2021;
  min-height: 36vh;
  min-width: 100%
  
}

.title {
  text-align: center;
  margin: auto 5vw;
  font-size: 5vmin
}